<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="Main.js"></script>
    <meta charset="UTF-8">
    <title>Просмотр курса</title>
</head>
<script>

    var course;
    var shownQuestion = {answers: []};

    var questionViews = [];
    var themeLabelViews = [];

    window.onload = function () {

        /* addAnswerEmptyAnswer();
         addAnswerEmptyAnswer();*/

        requestGet("/getCourse/" + getQueryParam('courseId'), function (response) {
            course = response;

            for (var j = 0; j < course.themes.length; j++) {

                var theme = course.themes[j];
                addThemeToList(theme.themeName, theme.id);
                if (theme.questions != null) {
                    for (var p = 0; p < theme.questions.length; p++) {

                        addQuestionToThree(theme.id, theme.questions[p].questionText, theme.questions[p].id);
                    }
                }
            }
        });

        showEmptyQuestion();
    };



    function saveQuestionToServer(themeId) {

        collectQuestion();
        if (shownQuestion.id == null) {
            for (var i = 0; i < course.themes.length; i++)
                if (course.themes[i].id == themeId) {
                    course.themes[i].push(shownQuestion);
                }
        }
        uploadPicture(shownQuestion.image, function (pictureId) {
            shownQuestion.image = pictureId;
            requestPost("/addQuestion/" + course.id + "/" + themeId, JSON.stringify(shownQuestion), function (response) {

                if (shownQuestion.id == null) {
                    shownQuestion.id = response.result;
                    addQuestionToThree(themeId, shownQuestion.questionText, shownQuestion.id);
                } else {
                    updateQuestionInThree();
                }
            });
        });

    }


    function updateQuestionInThree() {
        var questionView = document.getElementById(vs("question_$v", shownQuestion.id));
        questionView.innerHTML = shownQuestion.questionText;
    }

    function addQuestionToThree(themeId, questionName, questionId) {


      shownQuestion.questionText = document.getElementById("questionText").value;
      var checkedTheme = document.getElementById(vs("theme_$v", themeId));

      var ul = document.createElement("ul");
      checkedTheme.appendChild(ul);

      var li = document.createElement("li");
      li.setAttribute("id", vs("question_$v", questionId));
      li.innerHTML = questionName;

      li.setAttribute("onclick", vsm("showQuestionChecked($v0, $v1)", [themeId, questionId]));
      ul.appendChild(li);

      questionViews.push(li);
    }

    function uploadPicture(idx, callback) {

        var reader = new FileReader();
        reader.onloadend = function () {
            alert(reader.result);
            var request = "/uploadQuestionImage";
            if (id != null) {
                request += "/" + id;
            }
            requestPost(request, JSON.stringify({result: reader.result}), function (a) {
                callback(a.result);
            });
        };
        reader.readAsDataURL(document.getElementById("chooser").files[0]);

    }
    function showImage(image) {
        var preview = document.getElementById("preview");
        if (image != null) {
            loadImage("/getQuestionImage/" + image, function (responce) {

                preview.setAttribute("src", responce);
            });
        } else {
            preview.setAttribute("src", "img/placeholder_image.png");
        }
    }


</script>

<body>

<mat-card class="card">
<input type="file" id="chooser" style="display: none;" (change)="previewFile($event)">

<label id="courseName">{{course.name}}</label>
<label>
    <h3>Список вопросов</h3>
    <br>
</label>
<button mat-flat-button color="primary" id="addTheme" (click)="showAddThemePopup()"> <mat-icon>add</mat-icon> Добавить тему </button>
<br>

<br><br>

<mat-card>
    <div class="top">
        <div id="themesAndQuestions" class="themesAndQuestions">
            <ul id="themes">
              <li *ngFor="let theme of course.themes">
                <label
                  [class.checked]="theme.id === checkedThemeId"
                  [class.unchecked]="theme.id != checkedThemeId"
                  (click)="selectTheme(theme)">
                  {{theme.themeName}}
                </label>
                <ul *ngFor="let question of theme.questions"
                    [class.checked]="question.id === shownQuestion.id"
                    [class.unchecked]="question.id != shownQuestion.id"
                    (click)="showQuestion(question)"
                >{{question.questionText}}</ul>
              </li>
            </ul>
        </div>
    
    
    
    
        <div class="preview">
            <img id="preview" class="preview" src="{{shownQuestion.imagePreview}}" (click)="showImageChooser()"/>
        </div>
    </div>
</mat-card>

<div id="questions">
    <div>
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Введите сюда свой вопрос</mat-label>
            <textarea matInput id="questionText" placeholder="Вопрос" cols="30" rows="5">{{shownQuestion.questionText}}</textarea>
          </mat-form-field>

        <div id="answers">
          <div *ngFor="let answer of shownQuestion.answers; let i = index">
            <mat-form-field appearance="outline" style="width: vh;">
            <input matInput type="text" placeholder="Вариант {{i+1}}" value="{{answer.text}}">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 10vh;">
                <input matInput type="number" placeholder="Баллы" value="{{answer.points}}">
            </mat-form-field>

            <button mat-icon-button color="warn" (click)="deleteAnswer(i)" aria-label="Example icon button with a heart icon">
                <mat-icon>close</mat-icon>
              </button>
          </div>
        </div>
    </div>
</div>


<button mat-flat-button color="primary" id="next" (click)="addEmptyAnswer()"><mat-icon>add</mat-icon> Добавить ответ</button>

<button mat-flat-button color="" id="save" (click)="saveQuestion()"><mat-icon>push_pin</mat-icon> Сохранить вопрос в тему</button>
<br/>
</mat-card>

</body>
</html>
